name: Bot Dolar Peru

on:
  schedule:
    # Cron sintaxis (minuto hora dia mes dia-semana)
    # Corre a las 14:00 UTC (9:00 AM Perú) y 20:00 UTC (3:00 PM Perú) de Lunes a Viernes
    - cron: '0 14,20 * * 1-5'
  workflow_dispatch: # Permite que lo ejecutes manualmente con un botón para probar

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: |
          pip install -r requirements.txt

      - name: Correr script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
