name: Bot Dolar Peru

on:
  schedule:
    # Minuto Hora Dia Mes Dia-Semana
    # 14:00 UTC = 9:00 AM Perú (Apertura)
    # 19:00 UTC = 2:00 PM Perú (Cierre aproximado)
    - cron: '0 14,19 * * 1-5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: |
          pip install -r requirements.txt

      - name: Correr script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
